.allpooldiv {
  display: flex;
  flex: 1;
  /* background-color: rgb(145, 145, 21); */
  flex-direction: column;
}

.mainpool {
  /* width: 100vw; */
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  /* background-color:green; */
}
.poolintro {
  display: flex;
  /* flex:0.5; */
  flex-direction: column;
  /* z-index: 1; */
  /* justify-content: center; */
  /* background-color:grey; */
  /* margin: 1%; */
  border: 2px solid black;
  /* padding: 1px 22px; */
  /* border-radius: 10px; */
  height: 40vh;
  width: 20vw;
  /* background-color: red; */
  margin: 2%;
}

.poolintro:hover {
  transform: translateY(-10px);
  /* z-index: -1; */
}

.outerpara {
  margin-top: 6%;
  margin-left: 10%;
  text-align: center;
}
.toppara {
  height: 6vh;
  background-color: #c21807;
  color: white;
  font-weight: bold;
  padding-left: 10%;
  padding-top: 2%;
  border-top: none;
  /* border-bottom: 2px solid black; */
}
.toppara2 {
  height: 6vh;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  color: white;
  font-weight: bold;
  padding-left: 10%;
  padding-top: 2%;
  border-top: none;
}
.toppara3{
        height: 6vh;
        background-color: #fbb034;
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
        color: white;
        font-weight: bold;
        padding-left: 10%;
        padding-top: 2%;
        border-top: none;
      
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* border: 10px solid #73AD21; */
  /* background-color: red; */
  background: rgba(249, 248, 248, 0.8);
  z-index: 1;
}

.modal-container {
  /* border: 2px solid green; */
  /* display: flex; */
  height: 80%;
  /* flex:1; */
  /* margin-bottom:80%; */
  width: 70%;
  background-color: transparent;
  /* opacity: 1; */
  /* position: fixed; */
  /* justify-content: space-around; */
  margin-top: 10vh;
  margin-left: 15vw;
  /* padding-left: 4vw; */
  background: white;
  border: 2px solid transparent;
  border-radius: 5px;
}

.modal6 {
  /* position: fixed; */
  top: 46;
  float: right;
  height: 4vh;
  width: 2vw;
  border-radius: 15px;
  background-color: black;
  color: white;
  border: none;
}

.pooldetails {
  /* background-color: grey; */
  width: 40%;
  /* margin-left: 10%; */
  margin-right: 7%;
  float: right;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding-top: "50%";
}

.poolvalues {
  width: 100%;

  /* background-color: green; */
  height: 80%;
  padding: 5%;
  margin-top: 5%;
  /* border: 2px solid grey; */
  border-radius: 10px;
  /* /* background-color: #9dc5c3; */
  /* background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);  */
  /* background-color: #000000; */
  /* background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%); */
  display: flex;
  justify-content: space-between;

  color: black;
  text-align: center;
  /* background-color: #e8e4e3; */
  font-size: large;
  /* background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%); */

  border: 2px solid grey;
}

.poolbutton {
  /* background-color: red; */
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-top: 10%;
}

.poolimg {
  float: left;
  width: 50%;
  height: 100%;
}
.leftimg {
  /* margin: 20%; */
  width: 100%;
  height: 100%;
}
