.poolhomediv {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: red; */
  justify-content: space-between;
}
.outerbuttondiv {
  display: flex;
  flex: 1;
  /* background-color: green; */
  justify-content: space-between;
}

.buttondiv {
  width: 100%;
  margin: 1% 0% 1% 0%;
  height: 10vh;

  border-bottom: 0.25px solid grey;
  border: none;
  padding: 10px;
  /* border-radius: 10px; */
  font-weight: 600;
}
.buttondiv:hover {
  /* background-color: #DCB85A; */
  /* background-color: #9dc5c3; */
  /* background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%); */
  /* background-image: linear-gradient(to bottom right, red, yellow); */
  background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
  color: white;
  font-size: large;
  /* border: 2px solid black; */
}
.buttondiv:active,
.buttondiv:focus {
    /* background-color: #9dc5c3; */
    /* background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%); */
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
  color: white;
  font-size: large;


}
